{% load static %}
<!-- Footer start -->
<footer class="landing-footer">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-6 text-center">
                <p class="">2022 - {% now 'Y' %} © KIU-Cafe . Designed and Developed by Team
                    <b class="text-danger"><i class="fa fa-sort-alpha-down"></i> Exarth</b>
                </p>
            </div>

        </div>
    </div>
    <!-- end container -->
</footer>
<!-- Footer end -->