{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8"/>

    <title>KIU-Cafe |
        {% block base_title %}
            Home
        {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Exarth">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">

    <!-- favicon icon -->
    <link rel="shortcut icon" href="{% static 'core/images/logo_100.png' %}">

    <!-- style sheets and font icons  -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/font-icons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/theme-vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/responsive.css' %}">
    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

        .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }</style>

    {% block base_css_links %}

    {% endblock %}

</head>

<body data-spy="scroll" data-target="#topnav-menu" data-offset="60">

{% block base_header %}
    {% include 'website/include/header.html' %}
{% endblock %}

{% block base_content %}{% endblock %}

{% block base_footer %}
    {% include 'website/include/footer.html' %}
{% endblock %}


<!-- start scroll to top -->
<!-- end scroll to top -->
<!-- javascript -->
<script type="text/javascript" src="{% static 'website/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/theme-vendors.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/main.js' %}"></script>

{% block base_internal_js %}{% endblock %}

</body>
</html>
<script>
    $(document).ready(function () {
       $('.theme-demos').html('');
    });
</script>
{% block base_external_js %}{% endblock %}