{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} {{ request.user }} {% endblock %}

{% block base_links %}{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xl-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 align-self-center">
                                    <i class="mdi mdi-calendar h2 text-success mb-0"></i>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted mb-2">Sales Today</p>
                                    <h5 class="mb-0">
                                        Rs {{ today_amount }} <span
                                            class="font-size-14 text-muted">({{ today_sales }})</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 align-self-center">
                                    <i class="mdi mdi-calendar-check h2 text-danger mb-0"></i>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted mb-2">Sales in {{ month_name }}</p>
                                    <h5 class="mb-0">
                                        Rs {{ month_amount }} <span class="font-size-14 text-muted">
                                        ({{ month_sales }})</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3 align-self-center">
                                    <i class="mdi mdi-clipboard-list h2 text-primary mb-0"></i>
                                </div>
                                <div class="media-body">
                                    <p class="text-muted mb-2">Sales Total</p>
                                    <h5 class="mb-0">
                                        Rs {{ total_amount }} <span
                                            class="font-size-14 text-muted">({{ total_sales }})</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">{{ month_name }} Overview</h4>
                    <div id="chart">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Recent Orders</h4>

                    {% if orders_recent %}
                        <div class="table-responsive mt-4">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">customer</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Paid</th>
                                    <th scope="col">Remaining</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in orders_recent %}
                                    <tr>
                                        <td>
                                            <h5 class="text-truncate font-size-14">
                                                <a href="#" class="text-dark"># {{ object.pk }}</a>
                                            </h5>
                                            <p class="text-muted mb-0"></p>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="cols pr-4">
                                                    <img class="rounded-circle avatar-xs"
                                                         src="{% static 'core/images/user.png' %}" alt="">
                                                </div>
                                                <div class="cols">
                                                    <a href="#">
                                                        <h5 class="text-truncate font-size-14 mb-0">
                                                            {{ object.customer_name }}
                                                        </h5>
                                                        <p class="text-muted mb-0">
                                                            <i class="fa fa-wallet"></i> customer
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <b><i class="fa fa-coins"></i> {{ object.total }}</b>
                                        </td>
                                        <td class="text-success">
                                            <b><i class="fa fa-arrow-up"></i> {{ object.paid }}</b>
                                        </td>
                                        <td class="text-danger">
                                            <b><i class="fa fa-arrow-down"></i> {{ object.remaining }}</b>
                                        </td>
                                        <td>{{ object.created_on }}</td>

                                        {% if object.is_active %}
                                            <td class="text-success">
                                                <b class=""><i
                                                        class="fa fa-check-circle"></i>
                                                </b>
                                            </td>
                                        {% else %}
                                            <td class="text-danger">
                                                <b class=""><i class="fa fa-times-circle"></i>

                                                </b>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'admins_order_update' object.pk %}">
                                                <b class=""><i class="fa fa-edit"></i> Edit</b>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div>
                            <p class="mb-0">
                                <b><a href="{% url 'admins_order_list' %}"><i class="fa fa-link"></i> View All</a></b>
                            </p>
                        </div>
                    {% else %}
                        <p class="text-danger mb-0">
                            <b><i class="fa fa-exclamation-circle"></i> No Orders placed yet.</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>
        var options = {
            series: [{
                name: 'Total Sales',
                data: {{ chart_sales }}
            }, {
                name: 'Total Income',
                data: {{ chart_income }}
            }
            ],
            chart: {
                height: 350,
                type: 'area'
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            xaxis: {
                type: 'number',
                categories: {{ days }}
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
{% endblock %}