{% extends 'core/base.html' %}
{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block base_title %} Transactions {% endblock %}


{% block content %}

    <div class="row">
        <div class="col-12">
            <form method="get" class="">
                <div class="row justify-content-end">
                    <div id="div_id_id" class="form-group col-4 col-sm-5">
                        <input type="text" name="id" placeholder="Order ID"
                               class="textinput textInput form-control" id="id_id">
                    </div>

                    <div id="div_id_customer_name" class="form-group col-4 col-sm-5">
                        <input type="text" name="customer_name" placeholder="customer Name"
                               class="textinput textInput form-control" id="id_customer_name">
                    </div>

                    <div class="form-group col-2 col-sm-1">
                        <button class="btn btn-block btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="form-group col-2 col-sm-1">
                        <a href="{% url 'admins_order_list' %}" class="btn btn-block btn-danger"><i class="fa fa-brush"></i></a>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">customer</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Paid</th>
                                    <th scope="col">Remaining</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>
                                            <h5 class="text-truncate font-size-14">
                                                <a href="#" class="text-dark"># {{ object.pk }}</a>
                                            </h5>
                                            <p class="text-muted mb-0"></p>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="cols pr-4">
                                                    <img class="rounded-circle avatar-xs"
                                                         src="{% static 'core/images/user.png' %}" alt="">
                                                </div>
                                                <div class="cols">
                                                    <a href="#">
                                                        <h5 class="text-truncate font-size-14 mb-0">
                                                            {{ object.customer_name }}
                                                        </h5>
                                                        <p class="text-muted mb-0">
                                                            <i class="fa fa-wallet"></i> customer
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <b><i class="fa fa-coins"></i> {{ object.total }}</b>
                                        </td>
                                        <td class="text-success">
                                            <b><i class="fa fa-arrow-up"></i> {{ object.paid }}</b>
                                        </td>
                                        <td class="text-danger">
                                            <b><i class="fa fa-arrow-down"></i> {{ object.remaining }}</b>
                                        </td>
                                        <td>{{ object.created_on }}</td>

                                        {% if object.is_active %}
                                            <td class="text-success">
                                                <b class=""><i
                                                        class="fa fa-check-circle"></i>
                                                </b>
                                            </td>
                                        {% else %}
                                            <td class="text-danger">
                                                <b class=""><i class="fa fa-times-circle"></i>

                                                </b>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'admins_order_update' object.pk %}">
                                                <b class=""><i class="fa fa-edit"></i> Edit</b>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-danger mb-0">
                            <b><i class="fa fa-exclamation-circle"></i> No Orders placed yet.</b>
                        </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {% if object_list %}
        <div class="row">
            <div class="col-md-12">
                <div class="mt-4">
                    <ul class="pagination">
                        {% if object_list.has_previous %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                        </li>
                        {% if user_list.has_next %}
                            <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block base_external_scripts %}
    <script>

    </script>
{% endblock %}