{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} {{ object.name }} {% endblock %}
{% block page_heading %}
    <p class="mb-0 pl-2">
        <a href="{% url 'admins_product_list' %}">
            <b>
                <i class="fa fa-arrow-left"></i> Back To Food Items
            </b>
        </a>
    </p>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="text-center mb-3">
                        {% if object.image %}
                            <img src="{{ object.image.url }}" height="300" class="rounded-circle">
                        {% else %}
                            <img src="{% static 'core/images/no-image.jpg' %}" class="rounded-circle" height="300">
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <p class="mb-0 card-title">
                        {{ object.name }} <a href="{% url 'admins_product_update' object.pk %}"><i
                            class="fa fa-edit"></i></a>
                    </p>
                    <p class="card-text">{{ object.desc }}</p>
                    <h4>
                        <b class="text-danger"><i class="fa fa-arrow-down"></i>Rs {{ object.price_in }}</b> |
                        <b class="text-success"><i class="fa fa-arrow-up"></i>Rs {{ object.price_out }}</b>
                    </h4>
                </div>

                <div class="card-body border-top">
                    <p class="card-text mb-0">{{ object.created_on }}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body mb-0 border-bottom">
                    <p class="mb-0 card-title">Product Statistics</p>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <h1 class="mb-0"><i class="fa fa-truck"></i></h1>
                            <p class="card-title mb-0">Total Sales</p>
                            <p class="h4 mb-0">{{ object.total_quantity_sold }}</p>
                        </div>
                        <div class="col">
                            <h1 class="mb-0"><i class="fa fa-coins"></i></h1>
                            <p class="card-title mb-0">Total Income</p>
                            <p class="h4 mb-0">{{ object.total_sales_amount }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body mb-0 border-bottom border-danger">
                    <p class="mb-0 card-title text-danger">Delete</p>
                </div>
                <div class="card-body">
                    <p class="text-danger">This product will be permanently deleted, there is no way to take it
                        back all the data related to that product will also be deleted.
                    </p>
                    <a class="btn btn-danger" href="#"><i class="fa fa-trash"></i> Delete Permanently</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>
                <a href="{% url 'admins_product_list' %}"><b><i class="fa fa-list"></i> View All</b></a> |
                <a href="{% url 'admins_product_create' %}"><b><i class="fa fa-plus"></i> Add New</b></a>
            </p>
        </div>
    </div>

{% endblock %}
